div {
  
  width: 400px;
  height: 100px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  

  border: 2px solid red; 
  padding: 10px;
}

p {
  
  border: inherit;
  padding: inherit;
  

  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}