*{
    box-sizing: border-box;
}
div{
    width: 600px;
    height: 400px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
    margin: 20px auto;
    border-left: 5px solid red;
    border-right: 5px solid yellow;

}
div::first-letter{
    color: red;
}
div::before{
    content: "";
    position:absolute;
     top:-5px;
    width: 100%;
     
    left: 0px;
    height: 5px;
    background: linear-gradient(to right,red 20%,blue 20%,blue 40%,green 40%,green 60%,purple 60%,purple 80%,yellow 80%);
    text-align: center;
    width: calc(100%+10px);

}
div::after{
    content: "";
    position:absolute;
     bottom:-5px;
    width: 100%;
     
    left: 0px;
    height: 5px;
    background: linear-gradient(to right,red 20%,blue 20%,blue 40%,green 40%,green 60%,purple 60%,purple 80%,yellow 80%);
    text-align: center;
    width: calc(100%+10px);
}

