* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.layout {
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 15% 70% 15%;
    grid-template-areas: "header header header header header header header header header header"
        "section section section section section section section aside aside aside"
        "footer footer footer footer footer footer footer footer footer footer";

    header {
        grid-area: header;
        background-color: blue;
        color: #000;
    }
    section {
        grid-area: section;
        background-color: orange;
        color: #000;
    }
    aside {
        grid-area: aside;
        background-color: gray;
        color: #000;
    }
    footer {
        grid-area: footer;
        background-color: green;
        color: #fff;
    }
