
  .class1{
    width: 500px;
    height: 400px;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    background-color: #3498db;
    color: #fff;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
  }
  .class1:hover{
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
  }

    .down {
    transition: transform 0.5s ease 0.5s;
    -webkit-transition: transform 0.5s ease 0.5s;
    -moz-transition: transform 0.5s ease 0.5s;
    -o-transition: transform 0.5s ease 0.5s;
    background-color: black;
    
    
  }

  .down:hover {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
  }






