.parent {
  width: 600px;
  height: 300px;
  background-color: #eee;
  margin: 20px auto;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.parent div {
  background-color: #5d7d8a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 32%; 
}

.six {
  order: 1;
  height: 60%;
  margin-bottom: 10px;
}
.five {
  order: 2;
  height: calc(40% - 10px);
}


.three {
  order: 3;
  height: 20%;
  margin-bottom: 50px; 
}
.two {
  order: 4;
  height: calc(80% - 50px);
}

.four {
  order: 5;
  height: 70%;
  margin-bottom: 10px;
}
.one {
  order: 6;
  height: calc(30% - 10px);
}