.parent {
  width: 600px;
  height: 300px;
  background-color: white;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  box-sizing: border-box;
}

.parent div {
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.one, .three {
  width: 40px;
  height: 80px;
}

.two {
  width: 400px;
  height: 80px;
  align-self: flex-start;
}