.parent {
  width: 600px;
  height: 300px;
  background-color: #eee;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.parent > div {
  width: 120px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.one {
  background-color: #ff9800;
  order: 2;
  align-self: flex-start;
}

.two {
  background-color: #8bc34a;
  order: 3;
  align-self: flex-end;
}

.three {
  background-color: #795548;
  order: 4;
  align-self: flex-start;
}

.four {
  background-color: #673ab7;
  order: 1;
  align-self: flex-end;
}