.all {
  width: 400px;
  height: 400px;
  border: 5px solid red;

  position: relative;
  padding: 20px;

  box-sizing: border-box;
}

.all span {
  position: absolute;
  background: blue;
  color: white;
  padding: 5px 10px;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}