p {
  background-color: #eee;
  padding: 15px;
  margin: 20px;
  width: 400px;
  position: relative;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

p::before {
  content: attr(data-person);
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ddd;
  padding: 10px;
  width: 60px;
  text-align: center;
}

p::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent #e91e63 transparent transparent;
}