div {
    width: 400px;
    height: 400px;
    margin: 20px;
  
    background-image: url("https://elzero.org/wp-content/uploads/2021/02/css-assignment-5-8.png");
    background-repeat: no-repeat;
}

.assign-4-shape-1 {
    background-size: 80% 80%;
}

.assign-4-shape-2 {
    background-size: cover;
}

.assign-4-shape-3 {
    background-size: contain;
}

.assign-4-shape-4 {
    background-size: 50% 50%;
    background-position: right bottom;
}