.element {
    width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #eee;
    border-left: 10px solid;
    outline: 10px solid #eee;
}

.element-1 {
    border-left-color: green;
}

.element-2 {
    visibility: hidden;
}

.element-3 {
    border-left-color: red;
}